.search_result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  z-index: 9999;
}
.search_suggestion_link {
  display: flex;
}

.search_suggestion_link > a {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.search_suggestion_link:hover {
  background-color: #e3e3e3;
}
