@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #f6f8fa;
}
.align-center {
  display: flex;
  justify-content: space-between;
}
.search_button {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: #6457f9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

a {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
