.lds-circle {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.lds-circle > div {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  color: #9966cc;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
